header.header {
    padding: 2vw calc(var(--indent) * .5) 2vw var(--indent);
}
header.header > div{
    display: flex;
}
header.header > div > .button{
    margin-left: 7vw;
}
.h2::before, h2::before {
    width: calc(var(--indent) * 1.08);
}


.page_decoration{
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
}
.page_decoration  img{
    position: absolute;
}
.page_decoration  img:first-child{
    right: 0;
    top: 3.4vw;
    width: 18vw;
}
.page_decoration img:nth-child(2){
    right: 2vw;
    top: 45vw;
    transform: rotate(90deg);
}
.page_decoration img:nth-child(3){
    right: 8vw;
        top: 79vw;
    transform: rotate(90deg);
}

.page_decoration img:nth-child(4) {
    left: 5vw;
    top: 67vw;
}
.page_decoration img:nth-child(5) {
    left: -3vw;
    top: 87vw;
    width: 9vw;
}



section.post{
    padding: calc(var(--indent) * 1.2) 0 calc(var(--indent) * .5) 0;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post h2 {
   margin-left: var(--indent);
   margin-right: var(--indent);
   align-self: flex-start;
}
.post img {
    margin: 2vw 0;
    width: calc(100vw - var(--indent) * 3);
    border-radius: 6vw;
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    height: auto;
}

.post_content{
    margin-left:calc(var(--indent) * 2.5);
    margin-right:calc(var(--indent) * 2.5);
}
.post_content a{
    color:#4B36E0;
}
.post_content  .open_subscribe a{
    color: #fff;
}
.post p{
    /* margin: 2vw 0; */
    margin-top: 0;
    margin-bottom: 2vw;
}
.post p.post_data{
    margin-top: 2vw;
    margin-bottom: 3vw;
    text-align: center;
}
.subscribe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:3vw 3vw 2vw 3vw ;
    background: var(--gradient);
    border-radius: 5vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    box-sizing: border-box;
}
.subscribe p{
    margin: 2vw 0;
    color: #fff;
}
.subscribe h3{
    color: #fff;
    margin: 0;
}

section.postForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--indent) calc(var(--indent) * 1) var(--indent);
    position: relative;
    z-index: 100;
}

.postForm_form h3{
    padding-right: calc(var(--indent) * .5);
}
.postForm_form h3::after {
    content: '';
    height: 1vw;
    background: var(--gradient);
    display: block;
    margin-top: 1vw;
    margin-bottom: 5vw;
    margin-right: calc(var(--indent) * .5);
}
.postForm_form form{
    padding-right: var(--indent);
    display: flex;
    flex-direction: column;
}
.postForm_form .button{
    align-self: flex-start;
}


.postForm_picture{
    position: relative;
}
.postForm_picture img{
    position: absolute;
    z-index: 100;
}
.postForm_picture img:first-child {
    height: 48vw;
    width: 38vw;
    object-fit: cover;
    top: -1vw;
}
.postForm_picture img:nth-child(2) {
    width: 32vw;
    left: 3vw;
    z-index: 50;
    top: 0vw;
    height: 46vw;
    object-fit: cover;
}
.postForm_picture img:nth-child(3) {
    width: 9vw;
    right: 0vw;
    top: -3.5vw;
}
.postForm_picture img:nth-child(4) {
    width: 9vw;
    top: 36.3vw;
    left: -2.5vw;
}
.postForm_picture img:nth-child(5) {
    right: -2vw;
    top: 13vw;
}
.postForm_picture img:nth-child(6) {
    top: 31vw;
    left: 16vw;
}

section.navigation{
    padding: 3.5vw var(--indent) 2vw var(--indent);
    background: #F2F2F2;
    position: relative;
    z-index: 100;
}
.navigation_content{
    display: flex;
    justify-content: space-between;
}
.navigation_content .strikethrough{
    
}
.navigation_content .strikethrough::before{
    height: .3vw;
    top: 0.6vw ;
}

.navigation_content .strikethrough a{
    z-index: 200;
    position: relative;
    display: block;
    font-size: calc(var(--text) + .2vw);
}

.navigation_button{
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

@media screen and (max-width:768px){
    header.header {
        padding: calc(var(--indent) * .9) var(--indent);
    }
    section.post {
        padding: calc(var(--indent) * 4.5) 0 calc(var(--indent) * .5) 0;
    }
    .post img {
        margin: 2vw  0;
        width: calc(100vw - var(--indent) * 2);
        height: calc(100vw - var(--indent) * 2);
        object-fit: cover;
        border-radius: 15vw;
        border-top-right-radius: 7vw;
        border-bottom-left-radius: 7vw;
    }

    .post_content{
        margin-left: var(--indent);
        margin-right: var(--indent);
    }

    .post p {
        margin-top: 0;
        margin-bottom: 6vw;
        
    }
    .post p.post_data {
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 3vw 0 5vw 11.5vw;
    }
    .page_decoration img:first-child,
    .page_decoration img:nth-child(2),
    .page_decoration img:nth-child(4),
    .page_decoration img:nth-child(5)
    {
        display: none;
    }
    .page_decoration img:nth-child(3) {
        right: 8vw;
        top: 24vw;
        transform: rotate(90deg);
    }
    .subscribe {
        /* margin-left: var(--indent);
        margin-right: var(--indent); */
        border-radius: 15vw;
        border-top-right-radius: 5vw;
        border-bottom-left-radius: 5vw;
        padding: 8vw 9vw 7vw 9vw;
    }
    .subscribe h3 {
        font-size: 3.2vw;
        font-weight: 900;
    }
    .subscribe p {
        color: #fff;
        margin: 5vw 0 6vw 0;
    }

    section.postForm {
        grid-template-columns: 1fr;
        padding: 0;
        margin-bottom: 0 ;
    }
    .postForm_form h3{
        padding: 0 var(--indent);
    }
    .postForm_form h3::after {
        height: 4vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .postForm_form form{
        padding: 0 4vw;
        margin-top: 103vw;
    }

    .postForm_picture{
        position: static;
    }

    .postForm_picture img:first-child {
        height: 90vw;
        width: 60vw;
        object-fit: cover;
        top: 47vw;
        left: 20vw;
    }
    .postForm_picture img:nth-child(2) {
        width: 54vw ;
        left: 23vw;
        z-index: 50;
        top: 51vw;
        height: 82vw;
        object-fit: cover;
    }
    .postForm_picture img:nth-child(3) {
        width: 25vw;
        right: 8vw;
        top: 114.5vw;
    }
    .postForm_picture img:nth-child(4) {
        width: 25vw;
        top: 40vw;
        left: 9.5vw;
        transform: rotate(180deg);
    }
    .postForm_picture img:nth-child(5) {
        right: auto;
        top: 61vw;
        left: 10vw;
        z-index: 20;
    }

    .postForm_picture img:nth-child(6){
        display: none;
    }
    
    #postForm_form-ribbed{
        right: -5vw;
        top: 195vw;
    }
    .postForm_form .button {
        margin-top: 3vw;
    }


    
    section.navigation{
        padding: 13vw var(--indent) 7vw var(--indent);
    }
    .navigation_button{
        margin-top: 13vw;
    }


    .navigation_content .strikethrough a{
        font-size: calc(var(--text) + .8vw);
    }
    .navigation_content .strikethrough::before {
        height: 1.6vw;
        top: 1.6vw;
    }

}
